

.innactive{
    display: none;
}

.body_inputs{
    /* display: none; */

    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.input_item{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 100%;
    justify-content: space-around;
}


.main{
    /* display: none; */
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}



.header_style{
    margin-right: 20px;
}


