.input_style{
    width: 500px;
}

textarea{
    resize: none;
}

.textarea{
    position: relative;    
}

.counter{
    position: absolute;
    right: 0;
    top: 0;
}
.error_msg{
    font-size: 12px;
    color: #ff0000;
}